<button onclick="GetList()">Listeyi Getir</button>

<div id="errorDiv"></div>
<div id="errorDiv">
    <label>Hastane Adı</label>
    <input type="text" id="createHastaneAd"/>
    <label>Adres</label>
    <input type="text" id="createHastaneAdres" />
    <button class="btn btn-success" onclick="CreateHastane()">Kaydet</button>
</div>

<div id="listDiv"></div>
<div id="updateDiv"></div>

<script>
    //ajax ıle cekıp goruntule
    //butun lısteyı goster update delete
    //create
    //update
    //delete
</script>
